### 1. Load the dataset and check its completeness

In [75]:
import pandas as pd

In [77]:
df1 = pd.read_csv('PCA_1.csv')

In [79]:
df1.shape

(10854, 33)

In [81]:
df1.dropna().shape

(3860, 33)

In [84]:
df2 = pd.read_csv('PCA_2.csv')

In [86]:
df2.shape

(10854, 55)

In [88]:
df2.dropna().shape

(0, 55)

### 2. Replace all pseudo-null values with actual nulls

In [91]:
def column_null_stats(df, top_n=10):
    """
    Prints per-column null and non-null percentages, 
    and returns a sorted DataFrame with stats.
    """
    total_rows = len(df)

    stats = (
        df.isna().sum()
        .to_frame("nulls")
        .assign(
            filled=lambda x: total_rows - x["nulls"],
            percent_null=lambda x: (x["nulls"] / total_rows) * 100,
            percent_filled=lambda x: (x["filled"] / total_rows) * 100
        )
        .sort_values("percent_null", ascending=False)
    )

    print(f"Total rows: {total_rows}")
    print("\nTop columns with most missing values:\n")
    #print(stats.head(top_n))

    return stats

In [93]:
column_null_stats(df1)

Total rows: 10854

Top columns with most missing values:

                             nulls  filled  percent_null  percent_filled
POP_CNTR_RA_type_M3           6994    3860     64.437074       35.562926
Unnamed: 0                       0   10854      0.000000      100.000000
SSEQtotal_T1                     0   10854      0.000000      100.000000
Anger_t_T1                       0   10854      0.000000      100.000000
Anger_t_M12                      0   10854      0.000000      100.000000
SLPdisturb_t_T1                  0   10854      0.000000      100.000000
CDrisc_T1                        0   10854      0.000000      100.000000
PreBMI                           0   10854      0.000000      100.000000
PA_T1                            0   10854      0.000000      100.000000
preg_demo_alch_before_week       0   10854      0.000000      100.000000
Panx_t_M12                       0   10854      0.000000      100.000000
preg_demo_tobac_before_week      0   10854      0.000000      100.000000
preg_demo_cannab_12b_week        0   10854      0.000000      100.000000
m3_breast_01                     0   10854      0.000000      100.000000
CSI_M3                           0   10854      0.000000      100.000000
ParentPerception_M12_01          0   10854      0.000000      100.000000
PRAQ_T1                          0   10854      0.000000      100.000000
Panx_t_T1                        0   10854      0.000000      100.000000
ID                               0   10854      0.000000      100.000000
EPDS_M12                         0   10854      0.000000      100.000000
EPDS_T1                          0   10854      0.000000      100.000000
CHAOS_M12                        0   10854      0.000000      100.000000
m12_employment                   0   10854      0.000000      100.000000
preg_demo_stablehome             0   10854      0.000000      100.000000
preg_demo_food_scarcity          0   10854      0.000000      100.000000
preg_demo_income                 0   10854      0.000000      100.000000
Education                        0   10854      0.000000      100.000000
Mage                             0   10854      0.000000      100.000000
m3_partner_live                  0   10854      0.000000      100.000000
GAbirth_calculated               0   10854      0.000000      100.000000
record_id                        0   10854      0.000000      100.000000
ID2                              0   10854      0.000000      100.000000
ParentBehavior_M12_01            0   10854      0.000000      100.000000

In [95]:
column_null_stats(df2)

Total rows: 10854

Top columns with most missing values:

,nulls,filled,percent_null,percent_filled
nep_ph_scaled_bb2,10854,0,100.000000,0.000000
POP_CNTR_RA_type_M3,6994,3860,64.437074,35.562926
Unnamed: 0,0,10854,0.000000,100.000000
ASQSE_12m_01,0,10854,0.000000,100.000000
CHAOS_M12,0,10854,0.000000,100.000000
m12_employment,0,10854,0.000000,100.000000
ParentPerception_M12_01,0,10854,0.000000,100.000000
ParentBehavior_M12_01,0,10854,0.000000,100.000000
TotalBISQ_M12_01,0,10854,0.000000,100.000000
ASQcomm_01,0,10854,0.000000,100.000000
ASQgm_01,0,10854,0.000000,100.000000
ASQfm_01,0,10854,0.000000,100.000000
ASQprs_01,0,10854,0.000000,100.000000
ASQps_01,0,10854,0.000000,100.000000
m24_current_weight_01,0,10854,0.000000,100.000000
Panx_t_M12,0,10854,0.000000,100.000000
m24_bisq_16_01,0,10854,0.000000,100.000000
m24_screentime1_01,0,10854,0.000000,100.000000
M24_ECBQ_Neg_01,0,10854,0.000000,100.000000
MCHAT_M24_01,0,10854,0.000000,100.000000
ASQcomm_24m_01,0,10854,0.000000,100.000000
ASQgm_24m_01,0,10854,0.000000,100.000000
ASQfm_24m_01,0,10854,0.000000,100.000000
ASQprs_24m_01,0,10854,0.000000,100.000000
ASQps_24m_01,0,10854,0.000000,100.000000
ASQSE_24m_01,0,10854,0.000000,100.000000
nep_sn_combined_scaleds_age3_4_bb2,0,10854,0.000000,100.000000
Anger_t_M12,0,10854,0.000000,100.000000
EPDS_M12,0,10854,0.000000,100.000000
ID,0,10854,0.000000,100.000000
m3_breast_01,0,10854,0.000000,100.000000
ID2,0,10854,0.000000,100.000000
record_id,0,10854,0.000000,100.000000
Mage,0,10854,0.000000,100.000000
PA_T1,0,10854,0.000000,100.000000
PreBMI,0,10854,0.000000,100.000000
preg_demo_alch_before_week,0,10854,0.000000,100.000000
preg_demo_tobac_before_week,0,10854,0.000000,100.000000
preg_demo_cannab_12b_week,0,10854,0.000000,100.000000
Education,0,10854,0.000000,100.000000
preg_demo_income,0,10854,0.000000,100.000000
preg_demo_food_scarcity,0,10854,0.000000,100.000000
preg_demo_stablehome,0,10854,0.000000,100.000000
EPDS_T1,0,10854,0.000000,100.000000
Panx_t_T1,0,10854,0.000000,100.000000
PRAQ_T1,0,10854,0.000000,100.000000
SSEQtotal_T1,0,10854,0.000000,100.000000
SLPdisturb_t_T1,0,10854,0.000000,100.000000
Anger_t_T1,0,10854,0.000000,100.000000
CDrisc_T1,0,10854,0.000000,100.000000
GAbirth_calculated,0,10854,0.000000,100.000000
birth_weight_01,0,10854,0.000000,100.000000
m3_partner_live,0,10854,0.000000,100.000000
CSI_M3,0,10854,0.000000,100.000000
Tot_cry_01,0,10854,0.000000,100.000000

In [98]:
df1['m12_employment'].value_counts()

m12_employment
#NULL!    6741
0         1548
1         1505
2          515
5          426
4           69
3           48
6            2
Name: count, dtype: int64

In [101]:
def show_unique_values(df):
    """
    Prints unique values for each column in the DataFrame.
    """
    for col in df.columns:
        uniques = df[col].unique()
        print(f"\nColumn: {col}")
        print(f"Unique values ({len(uniques)}): {uniques}")

In [103]:
show_unique_values(df1)

Column: Unnamed: 0
Unique values (10854): [    0     1     2 ... 10851 10852 10853]

Column: ID
Unique values (10854): ['E100' 'E1000' 'E10000' ... 'F990' 'F996' 'F997']

Column: ID2
Unique values (10854): [  1000100  10001000 100010000 ...   2000990   2000996   2000997]

Column: record_id
Unique values (9694): [  100  1000 10000 ...   970   974   989]

Column: GAbirth_calculated
Unique values (106): ['39.86' '37.57' '37.71' '41.14' '40.43' '#NULL!' '40.00' '38.29' '38.14'
 '41.00' '39.14' '39.43' '41.29' '38.00' '38.86' '39.00' '39.71' '42.00'
 '41.43' '38.57' '40.14' '39.29' '41.86' '41.71' '37.86' '38.71' '40.29'
 '33.86' '40.71' '40.86' '40.57' '35.43' '37.29' '38.43' '37.00' '36.71'
 '41.57' '39.57' '37.14' '42.14' '36.29' '35.57' '34.86' '37.43' '36.86'
 '34.71' '27.57' '36.00' '33.00' '36.14' '35.29' '36.57' '36.43' '31.29'
 '24.86' '33.71' '32.29' '35.71' '35.86' '26.57' '33.43' '42.43' '34.14'
 '32.71' '42.29' '32.00' '35.00' '34.57' '32.14' '33.29' '28.57' '33.57'
 '34.00' '32.57' '34.43' '31.71' '29.14' '32.43' '34.29' '35.14' '42.86'
 '31.43' '27.00' '28.71' '30.00' '30.43' '29.57' '31.86' '30.57' '29.00'
 '30.71' '33.14' '29.86' '28.43' '27.29' '40.85' '29.43' '40.42' '42.57'
 '28.14' '29.71' '41.13' '30.86' '28.29' '28.86' '30.29']

Column: POP_CNTR_RA_type_M3
Unique values (8): [nan  1.  4.  2.  3.  5.  6.  9.]

Column: m3_partner_live
Unique values (3): ['#NULL!' '1' '0']

Column: Mage
Unique values (350): ['36.42' '33.33' '28.58' '32.50' '28.92' '28.00' '32.58' '35.17' '30.75'
 '34.50' '35.00' '31.92' '33.17' '29.75' '31.75' '27.58' '37.92' '30.33'
 '30.42' '25.92' '32.08' '33.00' '32.17' '32.42' '35.58' '39.25' '26.75'
 '37.00' '34.42' '27.92' '25.58' '27.17' '24.25' '25.75' '26.33' '34.58'
 '32.33' '31.50' '38.92' '30.08' '28.50' '34.25' '31.25' '31.42' '27.08'
 '#NULL!' '31.17' '36.92' '26.25' '35.42' '28.17' '29.50' '29.58' '36.33'
 '29.08' '31.00' '33.08' '38.25' '33.67' '29.67' '28.25' '29.17' '36.25'
 '21.92' '32.67' '36.58' '35.92' '22.75' '28.75' '39.75' '30.17' '36.17'
 '34.92' '30.83' '35.08' '35.83' '30.00' '25.25' '31.08' '43.75' '37.25'
 '33.50' '33.25' '37.58' '33.83' '34.00' '27.33' '37.67' '36.83' '34.33'
 '28.83' '28.33' '37.83' '30.67' '21.83' '32.25' '30.50' '32.00' '30.92'
 '40.50' '26.58' '31.67' '32.75' '27.00' '33.75' '35.33' '25.83' '35.50'
 '28.08' '30.58' '42.33' '28.67' '37.50' '27.75' '26.92' '36.50' '34.83'
 '36.00' '38.67' '30.25' '40.00' '33.42' '34.08' '39.33' '23.50' '39.08'
 '38.08' '38.33' '38.17' '34.17' '27.42' '29.33' '29.25' '33.58' '34.75'
 '29.92' '40.58' '23.08' '37.08' '35.67' '29.42' '27.25' '39.58' '24.83'
 '44.92' '24.92' '29.83' '40.83' '38.50' '32.92' '25.00' '36.08' '33.92'
 '22.92' '39.42' '22.17' '26.42' '31.33' '18.75' '38.75' '25.67' '36.75'
 '23.92' '35.25' '35.75' '21.75' '39.00' '26.08' '39.92' '38.42' '18.58'
 '24.67' '36.67' '25.08' '26.50' '20.42' '39.83' '37.75' '28.42' '26.00'
 '38.00' '27.83' '38.58' '23.00' '24.00' '21.58' '22.83' '29.00' '22.58'
 '25.50' '34.67' '40.17' '24.58' '37.17' '40.08' '27.67' '25.42' '32.83'
 '39.17' '42.58' '18.00' '24.75' '22.00' '19.42' '42.08' '24.17' '39.67'
 '43.83' '43.17' '26.83' '43.42' '40.67' '27.50' '24.42' '41.42' '44.17'
 '24.08' '39.50' '26.67' '31.83' '22.33' '40.33' '22.42' '43.08' '20.67'
 '21.17' '23.58' '37.42' '19.08' '41.08' '23.83' '21.25' '31.58' '20.83'
 '40.42' '42.25' '21.33' '43.25' '19.58' '37.33' '20.58' '44.50' '22.50'
 '41.50' '41.17' '23.67' '17.92' '22.25' '41.67' '43.92' '23.75' '24.33'
 '44.08' '41.92' '38.83' '25.17' '20.92' '41.58' '25.33' '19.83' '47.08'
 '21.08' '23.17' '44.33' '42.00' '44.25' '23.33' '21.67' '45.00' '45.92'
 '42.42' '22.67' '26.17' '20.75' '44.75' '42.67' '42.17' '23.25' '41.00'
 '19.67' '24.50' '20.25' '20.00' '19.75' '40.92' '23.42' '42.75' '41.25'
 '43.00' '42.50' '47.17' '18.50' '20.50' '40.75' '41.33' '40.25' '41.83'
 '45.42' '48.58' '43.33' '43.67' '42.92' '19.00' '42.83' '41.75' '44.58'
 '22.08' '18.67' '45.50' '45.33' '19.17' '29.80' '29.10' '21.50' '44.00'
 '19.25' '18.83' '43.58' '19.92' '20.33' '49.00' '46.67' '47.58' '45.25'
 '18.08' '18.17' '20.17' '21.42' '19.50' '20.08' '45.75' '18.92' '19.33'
 '17.00' '49.67' '17.50' '19.0' '42.5' '36.0' '27.0' '30.5' '27.5' '38.5'
 '29.5' '30.0' '31.0' '26.5' '33.0' '25.0' '34.0']

Column: Education
Unique values (7): [  4.   5.   3.   2.   6. 999.   1.]

Column: preg_demo_income
Unique values (10): ['6' '5' '4' '2' '#NULL!' '3' '7' '9' '8' '1']

Column: preg_demo_food_scarcity
Unique values (4): ['3' '#NULL!' '2' '1']

Column: preg_demo_stablehome
Unique values (3): ['0' '#NULL!' '1']

Column: m12_employment
Unique values (8): ['1' '2' '#NULL!' '0' '5' '3' '4' '6']

Column: CHAOS_M12
Unique values (49): ['3.43' '2.21' '#NULL!' '4.07' '1.50' '2.36' '2.29' '2.07' '3.00' '2.00'
 '3.64' '2.43' '2.50' '2.14' '2.57' '1.57' '3.07' '1.71' '1.64' '1.79'
 '3.14' '2.79' '1.36' '2.93' '1.86' '1.00' '3.29' '2.71' '1.43' '3.36'
 '2.64' '3.50' '3.21' '3.57' '3.86' '1.93' '-999.00' '1.21' '2.86' '1.29'
 '3.71' '3.93' '4.29' '4.21' '1.14' '1.07' '3.79' '4.00' '4.36']

Column: EPDS_T1
Unique values (32): [  8.   4.   9.   6. 999.  10.  11.  16.  17.   7.  12.  13.   0.   3.
  14.  20.   5.  19.  15.   2.  22.   1.  18.  23.  24.  26.  21.  25.
  28.  27.  29.  30.]

Column: EPDS_M12
Unique values (30): ['8.00' '2.00' '#NULL!' '20.00' '6.00' '3.00' '7.00' '15.00' '10.00'
 '5.00' '13.00' '12.00' '14.00' '16.00' '11.00' '4.00' '9.00' '1.00'
 '17.00' '0.00' '19.00' '18.00' '25.00' '999.00' '22.00' '21.00' '24.00'
 '23.00' '26.00' '29.00']

Column: Panx_t_T1
Unique values (30): [ 56.3  51.3  55.1  60.  999.   61.3  36.3  52.6  72.9  65.1  42.1  57.6
  62.6  58.8  44.7  53.8  67.7  63.8  70.2  49.9  48.4  71.5  68.9  46.7
  66.4  82.7  75.8  79.5  77.4  74.3]

Column: Panx_t_M12
Unique values (31): ['52.60' '42.10' '#NULL!' '65.10' '58.80' '67.70' '51.30' '60.00' '66.40'
 '49.90' '63.80' '68.90' '62.60' '57.60' '53.80' '61.30' '36.30' '48.40'
 '55.10' '46.70' '56.30' '70.20' '44.70' '75.80' '72.90' '74.30' '999.00'
 '77.40' '71.50' '79.50' '82.70']

Column: PRAQ_T1
Unique values (32): [ 19.  21.  25.  20. 999.  23.  13.  32.  33.  17.  26.  24.  22.  18.
  10.  28.  29.  30.  14.  12.  34.  11.  15.  27.  35.  16.  31.  37.
  39.  38.  36.  40.]

Column: Anger_t_T1
Unique values (22): [ 52.7  44.  999.   38.1  50.6  60.8  65.   58.8  48.4  54.7  41.3  46.3
  56.8  76.8  32.9  62.9  71.8  82.9  69.4  67.2  74.1  79.6]

Column: Anger_t_M12
Unique values (23): ['52.70' '44.00' '#NULL!' '74.10' '56.80' '69.40' '54.70' '60.80' '65.00'
 '38.10' '76.80' '62.90' '50.60' '58.80' '41.30' '46.30' '48.40' '67.20'
 '32.90' '71.80' '999.00' '79.60' '82.90']

Column: SLPdisturb_t_T1
Unique values (18): [ 54.3  37.5  57.9 999.   63.8  50.5  46.2  61.7  66.   56.1  52.4  43.8
  48.4  59.8  41.1  73.3  68.8  32. ]

Column: CDrisc_T1
Unique values (10): [  4.   7.   5. 999.   6.   3.   8.   2.   0.   1.]

Column: PreBMI
Unique values (1780): ['35.01' '21.13' '33.13' ... '40.51' '36.34' '38.98']

Column: PA_T1
Unique values (363): ['105.0' '660.0' '0.0' '100.0' '30.0' '240.0' '45.0' '190.0' '270.0'
 '120.0' '360.0' '75.0' '150.0' '50.0' '520.0' '60.0' '300.0' '200.0'
 '40.0' '2170.0' '3.0' '20.0' '330.0' '90.0' '55.0' '365.0' '140.0'
 '210.0' '180.0' '1920.0' '215.0' '25.0' '505.0' '15.0' '220.0' '315.0'
 '1120.0' '630.0' '420.0' '7.0' '80.0' '250.0' '110.0' '165.0' '340.0'
 '160.0' '5.0' '10.0' '900.0' '390.0' '2.0' '600.0' '255.0' '145.0' '65.0'
 '400.0' '280.0' '265.0' '24.0' '450.0' '170.0' '125.0' '2520.0' '500.0'
 '95.0' '12.0' '230.0' '470.0' '6.0' '70.0' '130.0' '195.0' '380.0' '68.0'
 '605.0' '225.0' '185.0' '14.0' '540.0' '1.0' '260.0' '1260.0' '302.0'
 '9.0' '135.0' '35.0' '1200.0' '345.0' '410.0' '460.0' '960.0' '610.0'
 '640.0' '1500.0' '53.0' '320.0' '1300.0' '480.0' '580.0' '560.0' '710.0'
 '840.0' '129.0' '43.0' '430.0' '350.0' '1000.0' '275.0' '8.0' '285.0'
 '1100.0' '3600.0' '440.0' '175.0' '800.0' '290.0' '310.0' '16.0' '620.0'
 '395.0' '375.0' '525.0' '558.0' '94.0' '4.0' '31.0' '2000.0' '1440.0'
 '370.0' '1025.0' '1030.0' '1800.0' '335.0' '690.0' '77.0' '2180.0'
 '188.0' '325.0' '245.0' '1560.0' '700.0' '550.0' '445.0' '435.0' '21.0'
 '570.0' '60.00' '240.00' '90.00' '100.00' '210.00' '180.00' '120.00'
 '300.00' '30.00' '0.00' '150.00' '20.00' '200.00' '130.00' '260.00'
 '160.00' '265.00' '400.00' '510.00' '540.00' '41.00' '50.00' '55.00'
 '80.00' '105.00' '10.00' '480.00' '45.00' '360.00' '140.00' '15.00'
 '1.00' '630.00' '#NULL!' '5.00' '420.00' '320.00' '205.00' '780.00'
 '4.00' '720.00' '270.00' '305.00' '255.00' '40.00' '2.00' '230.00' '8.00'
 '7.00' '2000.00' '770.00' '135.00' '330.00' '2400.00' '75.00' '315.00'
 '250.00' '6.00' '35.00' '310.00' '11.00' '3.00' '115.00' '175.00'
 '730.00' '340.00' '560.00' '190.00' '225.00' '1200.00' '110.00' '370.00'
 '2700.00' '65.00' '455.00' '280.00' '245.00' '70.00' '25.00' '125.00'
 '220.00' '545.00' '165.00' '450.00' '1800.00' '390.00' '375.00' '600.00'
 '18.00' '435.00' '350.00' '4200.00' '308.00' '405.00' '170.00' '32.00'
 '345.00' '660.00' '145.00' '85.00' '2160.00' '290.00' '500.00' '930.0'
 '1600.0' '880.0' '495.0' '85.0' '1215.0' '530.0' '980.0' '720.0' '305.0'
 '1250.0' '36.0' '405.0' '1380.0' '650.0' '465.0' '12.00' '1450.00'
 '460.00' '410.00' '650.00' '440.00' '620.00' '1500.00' '215.00' '1300.00'
 '195.00' '279.00' '301.00' '1000.00' '820.00' '38.0' '860.0' '510.0'
 '1050.0' '115.0' '112.0' '27.0' '18.0' '456.0' '1110.0' '430.00'
 '1250.00' '520.00' '92.00' '700.00' '16.00' '920.0' '47.0' '475.0'
 '680.0' '263.0' '1080.0' '13.0' '385.0' '765.0' '155.0' '1845.0' '108.0'
 '1210.0' '2860.0' '11.0' '1740.00' '285.00' '870.00' '825.00' '740.00'
 '9.00' '95.00' '1260.00' '580.00' '490.0' '161.0' '820.0' '1060.0'
 '900.00' '840.00' '860.00' '690.00' '325.00' '525.00' '380.00' '570.00'
 '830.00' '1320.00' '2030.00' '295.00' '810.00' '940.00' '800.00' '490.00'
 '14.00' '920.00' '880.00' '590.00' '725.00' '1100.00' '2010.00' '202.00'
 '465.00' '31.00' '122.00' '960.00' '4260.00' '152.00' '640.00' '1890.00'
 '750.00' '645.00' '46.00' '185.00' '1806.00' '151.00' '423.00']

Column: SSEQtotal_T1
Unique values (81): [ 69.  71.  64.  56.  65. 999.  57.  58.  61.  34.  54.  60.  45.  70.
  59.  53.  80.  62.  33.  49.  67.  16.  55.  44.  75.  51.  68.  47.
  66.  50.  76.  72.  78.  52.  39.  74.  46.  28.  40.  73.  77.  48.
   9.  27.  15.  35.  37.  24.  79.  41.  42.  43.  38.  30.  36.  23.
  63.  19.  31.  18.  29.   6.  13.  25.  22.  32.  12.   8.  14.  26.
  17.  21.  20.  10.   4.  11.   2.   0.   7.   5.   1.]

Column: preg_demo_alch_before_week
Unique values (43): ['4.0000' '1.0000' '2.0000' '0.5000' '5.0000' '6.0000' '#NULL!' '0.0000'
 '0.2500' '0.1250' '3.0000' '7.0000' '1.5000' '0.1000' '2.5000' '0.2000'
 '4.5000' '0.0100' '0.0500' '0.0080' '0.0010' '0.7500' '0.0190' '0.4000'
 '0.3000' '0.0005' '0.0050' '0.1900' '0.7000' '0.0800' '0.0001' '3.5000'
 '0.0300' '0.0200' '0.0250' '0.0570' '0.0025' '0.8000' '0.9000' '1.2500'
 '0.6000' '0.1200' '0.3300']

Column: preg_demo_tobac_before_week
Unique values (27): ['#NULL!' '0.0000' '7.0000' '5.0000' '2.0000' '6.0000' '1.0000' '0.5000'
 '4.0000' '0.2000' '0.1000' '3.0000' '0.2500' '0.0500' '0.0010' '0.1200'
 '0.7500' '0.0100' '0.0080' '0.0005' '0.1700' '0.1500' '0.3000' '2.5000'
 '0.1600' '0.1250' '0.0050']

Column: preg_demo_cannab_12b_week
Unique values (44): ['1.0000' '#NULL!' '0.1000' '0.2500' '7.0000' '0.0000' '5.0000' '2.0000'
 '0.0005' '0.5000' '0.3000' '3.5000' '0.0050' '4.0000' '0.0125' '0.0500'
 '3.0000' '0.0001' '0.0010' '6.0000' '1.5000' '0.0030' '0.0100' '0.2000'
 '0.0190' '0.0025' '0.0200' '0.1250' '0.0400' '0.0800' '0.1600' '0.0250'
 '0.0027' '0.7500' '0.0020' '0.0300' '0.0830' '0.1500' '0.0600' '0.4000'
 '0.0150' '0.1200' '0.1675' '0.0900']

Column: m3_breast_01
Unique values (3): ['#NULL!' '1' '0']

Column: CSI_M3
Unique values (24): ['#NULL!' '20.00' '16.00' '999.00' '12.00' '13.00' '17.00' '15.00' '18.00'
 '7.00' '6.00' '19.00' '21.00' '10.00' '9.00' '14.00' '2.00' '8.00'
 '11.00' '4.00' '5.00' '0.00' '3.00' '1.00']

Column: ParentPerception_M12_01
Unique values (33): ['95.00' '#NULL!' '40.00' '100.00' '85.00' '75.00' '25.00' '90.00' '60.00'
 '50.00' '72.50' '42.50' '10.00' '57.50' '87.50' '77.50' '82.50' '52.50'
 '62.50' '70.00' '35.00' '65.00' '80.00' '15.00' '47.50' '45.00' '20.00'
 '67.50' '30.00' '55.00' '27.50' '32.50' '37.50']

Column: ParentBehavior_M12_01
Unique values (775): ['99.27' '#NULL!' '39.79' '83.53' '98.52' '66.12' '72.04' '54.02' '85.56'
 '58.43' '54.92' '84.81' '85.01' '70.94' '86.49' '79.88' '63.52' '75.00'
 '55.67' '78.88' '96.30' '80.61' '100.00' '70.56' '95.56' '37.46' '86.02'
 '85.76' '59.66' '87.77' '94.83' '91.11' '90.10' '76.91' '75.07' '63.59'
 '88.51' '79.34' '85.55' '74.50' '65.86' '36.43' '53.94' '61.93' '57.88'
 '56.98' '75.44' '79.05' '78.40' '49.74' '62.90' '97.79' '80.62' '93.06'
 '74.68' '71.48' '82.05' '72.77' '75.39' '60.05' '82.79' '89.25' '62.38'
 '67.49' '90.61' '81.47' '67.26' '52.17' '56.70' '62.11' '71.30' '74.52'
 '71.76' '57.15' '93.79' '63.21' '63.89' '70.49' '57.21' '79.55' '74.40'
 '55.72' '66.37' '75.41' '81.24' '64.57' '84.64' '61.35' '92.22' '69.51'
 '83.17' '69.13' '87.03' '48.26' '77.64' '85.25' '74.26' '46.03' '89.26'
 '69.52' '60.45' '48.65' '73.66' '88.90' '53.19' '76.54' '86.28' '60.12'
 '75.74' '67.55' '81.32' '82.31' '59.41' '67.52' '43.82' '69.53' '84.07'
 '68.40' '89.35' '82.29' '97.04' '84.28' '73.53' '64.39' '54.19' '54.24'
 '68.97' '58.18' '76.37' '77.03' '66.78' '79.15' '49.39' '78.51' '80.28'
 '46.78' '75.06' '65.12' '63.64' '56.40' '79.63' '61.42' '52.01' '89.99'
 '49.00' '64.14' '83.78' '53.30' '51.23' '69.74' '43.03' '63.41' '75.75'
 '46.79' '79.84' '74.89' '77.10' '65.83' '62.16' '94.08' '69.61' '88.40'
 '40.86' '62.61' '56.55' '54.75' '54.01' '61.87' '64.52' '63.25' '67.73'
 '70.06' '76.59' '34.75' '60.39' '69.01' '50.16' '92.66' '61.94' '72.19'
 '76.87' '61.43' '76.82' '61.63' '72.91' '53.87' '50.47' '62.05' '65.33'
 '69.83' '63.98' '56.50' '48.09' '64.30' '69.21' '67.32' '56.74' '86.17'
 '58.91' '62.88' '72.27' '73.41' '85.62' '50.77' '53.59' '73.24' '68.26'
 '43.34' '66.42' '60.66' '52.36' '57.28' '86.91' '82.20' '74.72' '75.98'
 '51.64' '64.71' '74.23' '47.22' '59.50' '80.83' '76.00' '68.78' '75.56'
 '71.44' '67.45' '55.39' '70.79' '82.01' '61.32' '53.74' '58.63' '55.10'
 '71.22' '83.05' '77.12' '77.76' '46.80' '59.38' '83.33' '61.77' '64.64'
 '71.61' '77.65' '59.36' '79.45' '61.72' '57.93' '82.97' '58.01' '66.05'
 '70.61' '72.78' '69.23' '88.62' '66.85' '45.40' '50.88' '83.77' '83.59'
 '63.82' '91.36' '52.71' '67.96' '76.17' '57.43' '78.14' '65.79' '73.27'
 '76.16' '56.54' '64.25' '60.99' '66.63' '58.03' '60.71' '72.41' '62.78'
 '59.95' '69.80' '56.45' '76.89' '54.09' '66.26' '60.56' '58.30' '66.48'
 '90.38' '75.14' '67.10' '83.03' '64.87' '55.20' '40.41' '51.02' '69.87'
 '65.61' '48.14' '65.51' '83.04' '66.60' '75.87' '90.83' '72.66' '87.65'
 '95.62' '80.72' '69.95' '54.67' '80.08' '77.35' '84.51' '60.29' '78.38'
 '56.41' '76.62' '75.01' '92.32' '64.02' '75.62' '56.10' '66.52' '65.85'
 '58.67' '73.58' '60.98' '79.10' '82.30' '45.12' '71.54' '87.67' '73.02'
 '91.48' '71.36' '54.47' '55.22' '50.61' '73.47' '71.00' '57.27' '77.87'
 '70.51' '59.08' '76.13' '54.98' '56.01' '55.62' '42.34' '59.84' '74.61'
 '83.34' '80.57' '54.88' '80.36' '89.88' '58.07' '68.87' '48.38' '74.31'
 '61.91' '70.60' '67.01' '45.90' '77.32' '85.99' '64.94' '61.02' '53.44'
 '64.89' '89.15' '87.78' '79.13' '52.82' '64.06' '56.72' '66.70' '52.09'
 '78.71' '50.80' '43.07' '43.64' '66.02' '52.02' '68.98' '42.16' '68.07'
 '63.54' '78.31' '79.96' '55.52' '71.56' '65.03' '68.21' '77.27' '46.10'
 '66.54' '46.00' '75.11' '94.53' '89.63' '39.38' '64.54' '69.38' '61.01'
 '43.19' '75.36' '45.24' '79.12' '52.47' '78.81' '81.56' '44.69' '66.99'
 '72.22' '34.30' '90.63' '48.66' '51.61' '49.29' '86.29' '82.60' '73.40'
 '75.91' '89.13' '68.76' '36.23' '98.24' '79.85' '62.82' '65.25' '66.65'
 '64.43' '65.73' '83.54' '59.32' '43.92' '75.23' '61.13' '71.43' '72.83'
 '75.70' '21.12' '49.13' '52.10' '68.13' '64.83' '61.17' '71.74' '78.15'
 '69.96' '61.83' '66.25' '41.14' '78.60' '47.12' '86.99' '63.51' '64.51'
 '68.75' '72.30' '83.71' '69.55' '69.32' '72.58' '60.06' '80.99' '82.76'
 '39.20' '68.80' '62.22' '51.79' '80.37' '72.64' '56.23' '62.36' '49.31'
 '64.28' '47.91' '83.02' '48.68' '58.81' '57.71' '65.09' '58.10' '62.01'
 '60.57' '68.77' '93.35' '77.31' '66.77' '53.27' '52.72' '81.46' '60.33'
 '68.93' '54.22' '46.88' '46.96' '61.71' '59.25' '58.75' '77.40' '51.66'
 '52.45' '62.91' '55.95' '82.11' '59.51' '60.49' '50.74' '61.60' '66.35'
 '71.84' '69.63' '60.15' '60.72' '49.85' '63.36' '66.57' '49.94' '71.99'
 '49.75' '70.10' '48.55' '84.53' '82.59' '43.47' '66.84' '62.73' '60.64'
 '62.49' '44.67' '78.28' '54.36' '45.31' '70.03' '66.92' '55.50' '84.02'
 '80.50' '76.80' '73.76' '67.65' '73.42' '79.68' '48.54' '80.65' '76.66'
 '65.54' '33.47' '65.37' '77.86' '88.16' '54.37' '76.23' '51.75' '59.26'
 '73.03' '80.81' '60.08' '69.57' '59.11' '53.00' '64.77' '77.53' '69.03'
 '75.48' '58.66' '63.84' '75.43' '58.47' '55.06' '60.89' '62.06' '44.70'
 '67.40' '80.44' '50.03' '59.04' '76.95' '76.38' '66.07' '67.56' '53.14'
 '45.30' '44.34' '66.49' '86.67' '60.88' '31.93' '82.92' '89.89' '78.65'
 '79.25' '78.02' '81.90' '70.71' '42.62' '71.40' '51.81' '52.91' '53.48'
 '77.24' '61.55' '63.85' '89.80' '60.68' '79.99' '65.60' '57.33' '82.37'
 '90.75' '51.34' '77.48' '57.48' '50.79' '68.05' '46.51' '86.19' '57.72'
 '63.58' '58.22' '62.66' '64.78' '72.63' '65.98' '75.84' '92.60' '56.44'
 '70.41' '96.31' '62.19' '44.96' '74.16' '50.64' '75.34' '51.82' '78.36'
 '63.48' '46.61' '63.29' '61.75' '79.01' '62.65' '63.95' '63.46' '41.99'
 '87.88' '72.48' '75.79' '38.28' '65.90' '48.91' '53.09' '57.00' '47.52'
 '51.78' '70.35' '81.55' '67.61' '42.72' '69.26' '57.74' '75.19' '53.95'
 '55.38' '80.53' '60.19' '67.86' '66.06' '57.99' '63.53' '66.73' '67.36'
 '44.50' '70.27' '43.94' '63.16' '65.04' '49.58' '70.73' '49.93' '68.00'
 '59.54' '63.11' '62.28' '84.08' '68.69' '58.15' '55.51' '84.87' '59.20'
 '64.40' '68.46' '71.27' '61.89' '69.42' '61.81' '72.81' '78.85' '58.76'
 '76.08' '61.18' '69.33' '75.32' '63.56' '67.30' '32.59' '37.26' '60.07'
 '67.22' '63.38' '57.85' '67.00' '67.48' '44.56' '85.72' '67.84' '74.11'
 '65.50' '62.58' '81.28' '72.93' '71.86' '72.68' '81.85' '62.51' '76.48'
 '59.40' '67.38' '79.24' '73.78' '74.39' '65.00' '78.43' '72.18' '74.14'
 '57.76' '61.10' '38.24' '54.78' '68.23' '73.94' '53.28' '62.08' '76.49'
 '62.42' '50.37' '76.32' '62.04' '64.15' '56.36' '59.91' '82.80' '73.67'
 '40.69' '63.88' '73.57' '42.00' '86.23' '72.28' '72.16' '68.58' '46.24'
 '88.52' '74.97' '53.58' '81.10' '50.49' '92.96' '88.58' '59.12' '53.36'
 '63.77']

In [107]:
import numpy as np

# the list was taken from the data dictionary
NULL_LIKE = [
    '#NULL!',
    '999.00', '-999.00', '-999',   
    999.00, -999.00, -999, 
    '10/15/1582'
]

df1 = df1.replace(NULL_LIKE, np.nan)
df2 = df2.replace(NULL_LIKE, np.nan)

In [109]:
column_null_stats(df1)

Total rows: 10854

Top columns with most missing values:

                             nulls  filled  percent_null  percent_filled
preg_demo_tobac_before_week   7841    3013     72.240649       27.759351
Anger_t_M12                   7441    3413     68.555371       31.444629
m3_breast_01                  7271    3583     66.989128       33.010872
CSI_M3                        7193    3661     66.270499       33.729501
m3_partner_live               7135    3719     65.736134       34.263866
POP_CNTR_RA_type_M3           6994    3860     64.437074       35.562926
ParentBehavior_M12_01         6864    3990     63.239359       36.760641
ParentPerception_M12_01       6864    3990     63.239359       36.760641
m12_employment                6741    4113     62.106136       37.893864
CHAOS_M12                     6709    4145     61.811314       38.188686
Panx_t_M12                    6694    4160     61.673116       38.326884
EPDS_M12                      6692    4162     61.654690       38.345310
preg_demo_cannab_12b_week     6184    4670     56.974387       43.025613
Anger_t_T1                    4262    6592     39.266630       60.733370
PRAQ_T1                       3567    7287     32.863460       67.136540
GAbirth_calculated            3315    7539     30.541736       69.458264
CDrisc_T1                     2332    8522     21.485167       78.514833
SLPdisturb_t_T1               2264    8590     20.858670       79.141330
preg_demo_alch_before_week    2112    8742     19.458264       80.541736
SSEQtotal_T1                  1953    8901     17.993367       82.006633
Panx_t_T1                     1274    9580     11.737608       88.262392
EPDS_T1                       1241    9613     11.433573       88.566427
preg_demo_food_scarcity        317   10537      2.920582       97.079418
preg_demo_stablehome           316   10538      2.911369       97.088631
preg_demo_income               305   10549      2.810024       97.189976
Education                      265   10589      2.441496       97.558504
PreBMI                         260   10594      2.395430       97.604570
Mage                           144   10710      1.326700       98.673300
PA_T1                           98   10756      0.902893       99.097107
record_id                        1   10853      0.009213       99.990787
Unnamed: 0                       1   10853      0.009213       99.990787
ID                               0   10854      0.000000      100.000000
ID2                              0   10854      0.000000      100.000000

In [111]:
df1.dropna().shape

(448, 33)

In [114]:
column_null_stats(df2)

Total rows: 10854

Top columns with most missing values:

,nulls,filled,percent_null,percent_filled
nep_sn_combined_scaleds_age3_4_bb2,10854,0,100.000000,0.000000
nep_ph_scaled_bb2,10854,0,100.000000,0.000000
preg_demo_tobac_before_week,7841,3013,72.240649,27.759351
Anger_t_M12,7441,3413,68.555371,31.444629
m3_breast_01,7271,3583,66.989128,33.010872
Tot_cry_01,7270,3584,66.979915,33.020085
CSI_M3,7193,3661,66.270499,33.729501
m3_partner_live,7135,3719,65.736134,34.263866
ASQSE_12m_01,7068,3786,65.118850,34.881150
ASQps_01,7038,3816,64.842454,35.157546
ASQprs_01,7033,3821,64.796388,35.203612
ASQfm_01,7018,3836,64.658191,35.341809
ASQgm_01,7009,3845,64.575272,35.424728
ASQcomm_01,7007,3847,64.556845,35.443155
POP_CNTR_RA_type_M3,6994,3860,64.437074,35.562926
ASQSE_24m_01,6896,3958,63.534181,36.465819
TotalBISQ_M12_01,6864,3990,63.239359,36.760641
ParentBehavior_M12_01,6864,3990,63.239359,36.760641
ParentPerception_M12_01,6864,3990,63.239359,36.760641
ASQprs_24m_01,6849,4005,63.101161,36.898839
ASQps_24m_01,6836,4018,62.981389,37.018611
ASQfm_24m_01,6828,4026,62.907684,37.092316
ASQgm_24m_01,6827,4027,62.898471,37.101529
ASQcomm_24m_01,6823,4031,62.861618,37.138382
M24_ECBQ_Neg_01,6754,4100,62.225907,37.774093
MCHAT_M24_01,6742,4112,62.115349,37.884651
m12_employment,6741,4113,62.106136,37.893864
CHAOS_M12,6709,4145,61.811314,38.188686
Panx_t_M12,6694,4160,61.673116,38.326884
EPDS_M12,6692,4162,61.654690,38.345310
m24_current_weight_01,6671,4183,61.461212,38.538788
m24_screentime1_01,6645,4209,61.221669,38.778331
m24_bisq_16_01,6630,4224,61.083472,38.916528
preg_demo_cannab_12b_week,6184,4670,56.974387,43.025613
Anger_t_T1,4262,6592,39.266630,60.733370
birth_weight_01,4049,6805,37.304220,62.695780
PRAQ_T1,3567,7287,32.863460,67.136540
GAbirth_calculated,3315,7539,30.541736,69.458264
CDrisc_T1,2332,8522,21.485167,78.514833
SLPdisturb_t_T1,2264,8590,20.858670,79.141330
preg_demo_alch_before_week,2112,8742,19.458264,80.541736
SSEQtotal_T1,1953,8901,17.993367,82.006633
Panx_t_T1,1274,9580,11.737608,88.262392
EPDS_T1,1241,9613,11.433573,88.566427
preg_demo_food_scarcity,317,10537,2.920582,97.079418
preg_demo_stablehome,316,10538,2.911369,97.088631
preg_demo_income,305,10549,2.810024,97.189976
Education,265,10589,2.441496,97.558504
PreBMI,260,10594,2.395430,97.604570
Mage,144,10710,1.326700,98.673300
PA_T1,98,10756,0.902893,99.097107
record_id,1,10853,0.009213,99.990787
Unnamed: 0,1,10853,0.009213,99.990787
ID2,0,10854,0.000000,100.000000
ID,0,10854,0.000000,100.000000

In [116]:
df2.dropna().shape

(0, 55)

### 3. Identify and separate numeric and categorical columns

In [121]:
import pandas as pd

def analyze_column_types(df, max_unique_for_category=10):
    """
    Analyze DataFrame columns to determine:
    - whether they can be converted to float
    - how many unique values they contain
    - inferred type: numeric or categorical
    
    Returns a summary DataFrame.
    """
    results = []

    for col in df.columns:
        series = df[col]

        # Count unique non-null values
        unique_count = series.nunique(dropna=True)

        # Check if the column can be converted to float
        try:
            pd.to_numeric(series.dropna(), errors='raise')
            is_numeric = True
        except Exception:
            is_numeric = False

        # Infer type
        if is_numeric and unique_count > max_unique_for_category:
            inferred_type = "numeric"
        else:
            inferred_type = "categorical"

        results.append({
            "column": col,
            "is_numeric_convertible": is_numeric,
            "unique_values": unique_count,
            "inferred_type": inferred_type
        })

    return pd.DataFrame(results)

In [123]:
analyze_column_types(df1).sort_values(by = 'unique_values')

,column,is_numeric_convertible,unique_values,inferred_type
29,m3_breast_01,True,2,categorical
6,m3_partner_live,True,2,categorical
11,preg_demo_stablehome,True,2,categorical
10,preg_demo_food_scarcity,True,3,categorical
8,Education,True,6,categorical
12,m12_employment,True,7,categorical
5,POP_CNTR_RA_type_M3,True,7,categorical
9,preg_demo_income,True,9,categorical
22,CDrisc_T1,True,9,categorical
21,SLPdisturb_t_T1,True,17,numeric
20,Anger_t_M12,True,21,numeric
19,Anger_t_T1,True,21,numeric
30,CSI_M3,True,22,numeric
27,preg_demo_tobac_before_week,True,26,numeric
15,EPDS_M12,True,28,numeric
17,Panx_t_M12,True,29,numeric
16,Panx_t_T1,True,29,numeric
14,EPDS_T1,True,31,numeric
18,PRAQ_T1,True,31,numeric
31,ParentPerception_M12_01,True,32,numeric
26,preg_demo_alch_before_week,True,42,numeric
28,preg_demo_cannab_12b_week,True,43,numeric
13,CHAOS_M12,True,47,numeric
25,SSEQtotal_T1,True,80,numeric
4,GAbirth_calculated,True,105,numeric
7,Mage,True,349,numeric
24,PA_T1,True,362,numeric
32,ParentBehavior_M12_01,True,774,numeric
23,PreBMI,True,1779,numeric
3,record_id,True,9693,numeric
0,Unnamed: 0,True,10853,numeric
2,ID2,True,10854,numeric
1,ID,False,10854,categorical

In [125]:
df1_categorical_columns = ['m3_breast_01',
 'm3_partner_live',
 'preg_demo_stablehome',
 'preg_demo_food_scarcity',
 'Education',
 'm12_employment',
 'POP_CNTR_RA_type_M3',
 'preg_demo_income',
 'CDrisc_T1']

In [127]:
df1_nominal_columns = ['Unnamed: 0', 'ID', 'ID2', 'record_id']

In [129]:
df1_numeric_columns = list(set(df1.columns.to_list()) - set(df1_nominal_columns) - set(df1_categorical_columns))

In [131]:
df1_numeric_columns

['Panx_t_M12',
 'SSEQtotal_T1',
 'GAbirth_calculated',
 'Anger_t_T1',
 'PreBMI',
 'Panx_t_T1',
 'preg_demo_cannab_12b_week',
 'Anger_t_M12',
 'ParentBehavior_M12_01',
 'PRAQ_T1',
 'ParentPerception_M12_01',
 'EPDS_T1',
 'PA_T1',
 'preg_demo_tobac_before_week',
 'CSI_M3',
 'SLPdisturb_t_T1',
 'EPDS_M12',
 'preg_demo_alch_before_week',
 'Mage',
 'CHAOS_M12']

In [135]:
analyze_column_types(df2).sort_values(by = 'unique_values')

,column,is_numeric_convertible,unique_values,inferred_type
53,nep_sn_combined_scaleds_age3_4_bb2,True,0,categorical
52,nep_ph_scaled_bb2,True,0,categorical
24,m3_partner_live,True,2,categorical
26,m3_breast_01,True,2,categorical
13,preg_demo_stablehome,True,2,categorical
12,preg_demo_food_scarcity,True,3,categorical
10,Education,True,6,categorical
23,POP_CNTR_RA_type_M3,True,7,categorical
31,m12_employment,True,7,categorical
20,CDrisc_T1,True,9,categorical
11,preg_demo_income,True,9,categorical
47,ASQgm_24m_01,True,13,numeric
48,ASQfm_24m_01,True,14,numeric
37,ASQfm_01,True,14,numeric
36,ASQgm_01,True,14,numeric
39,ASQps_01,True,15,numeric
45,MCHAT_M24_01,True,15,numeric
50,ASQps_24m_01,True,15,numeric
38,ASQprs_01,True,15,numeric
49,ASQprs_24m_01,True,17,numeric
18,SLPdisturb_t_T1,True,17,numeric
46,ASQcomm_24m_01,True,17,numeric
35,ASQcomm_01,True,20,numeric
19,Anger_t_T1,True,21,numeric
29,Anger_t_M12,True,21,numeric
25,CSI_M3,True,22,numeric
54,Tot_cry_01,True,24,numeric
8,preg_demo_tobac_before_week,True,26,numeric
27,EPDS_M12,True,28,numeric
15,Panx_t_T1,True,29,numeric
40,ASQSE_12m_01,True,29,numeric
28,Panx_t_M12,True,29,numeric
14,EPDS_T1,True,31,numeric
16,PRAQ_T1,True,31,numeric
32,ParentPerception_M12_01,True,32,numeric
42,m24_bisq_16_01,True,34,numeric
43,m24_screentime1_01,True,37,numeric
51,ASQSE_24m_01,True,38,numeric
7,preg_demo_alch_before_week,True,42,numeric
9,preg_demo_cannab_12b_week,True,43,numeric
30,CHAOS_M12,True,47,numeric
17,SSEQtotal_T1,True,80,numeric
21,GAbirth_calculated,True,105,numeric
44,M24_ECBQ_Neg_01,True,121,numeric
41,m24_current_weight_01,True,229,numeric
4,Mage,True,349,numeric
5,PA_T1,True,362,numeric
33,ParentBehavior_M12_01,True,774,numeric
22,birth_weight_01,True,852,numeric
6,PreBMI,True,1779,numeric
34,TotalBISQ_M12_01,True,2703,numeric
3,record_id,True,9693,numeric
0,Unnamed: 0,True,10853,numeric
2,ID2,True,10854,numeric
1,ID,False,10854,categorical

In [137]:
df2_categorical_columns = ['nep_sn_combined_scaleds_age3_4_bb2',
 'nep_ph_scaled_bb2',
 'm3_partner_live',
 'm3_breast_01',
 'preg_demo_stablehome',
 'preg_demo_food_scarcity',
 'Education',
 'POP_CNTR_RA_type_M3',
 'm12_employment',
 'CDrisc_T1',
 'preg_demo_income']

In [139]:
df2_nominal_columns = ['Unnamed: 0', 'ID', 'ID2', 'record_id']

In [141]:
df2_numeric_columns = list(set(df2.columns.to_list()) - set(df2_nominal_columns) - set(df2_categorical_columns))

In [143]:
df2_numeric_columns

['Panx_t_M12',
 'ASQgm_01',
 'SSEQtotal_T1',
 'ASQprs_01',
 'ASQcomm_24m_01',
 'PreBMI',
 'Anger_t_T1',
 'GAbirth_calculated',
 'ASQprs_24m_01',
 'Panx_t_T1',
 'preg_demo_cannab_12b_week',
 'm24_screentime1_01',
 'Anger_t_M12',
 'TotalBISQ_M12_01',
 'ParentBehavior_M12_01',
 'PRAQ_T1',
 'ParentPerception_M12_01',
 'EPDS_T1',
 'm24_current_weight_01',
 'PA_T1',
 'ASQgm_24m_01',
 'ASQSE_24m_01',
 'ASQcomm_01',
 'Tot_cry_01',
 'preg_demo_tobac_before_week',
 'ASQSE_12m_01',
 'CSI_M3',
 'M24_ECBQ_Neg_01',
 'ASQps_24m_01',
 'ASQps_01',
 'ASQfm_01',
 'birth_weight_01',
 'SLPdisturb_t_T1',
 'EPDS_M12',
 'preg_demo_alch_before_week',
 'm24_bisq_16_01',
 'MCHAT_M24_01',
 'Mage',
 'CHAOS_M12',
 'ASQfm_24m_01']

### 4. Convert all selected columns to numeric and check their variance

In [147]:
df1[df1_numeric_columns + df1_categorical_columns] = df1[df1_numeric_columns + df1_categorical_columns].apply(
    pd.to_numeric, errors="coerce"
)

In [149]:
df2[df2_numeric_columns + df2_categorical_columns] = df2[df2_numeric_columns + df2_categorical_columns].apply(
    pd.to_numeric, errors="coerce"
)

In [152]:
variances = df1[df1_numeric_columns].var(numeric_only=True)
print(variances)

Panx_t_M12                        66.165238
SSEQtotal_T1                     222.853356
GAbirth_calculated                 2.752043
Anger_t_T1                        74.307537
PreBMI                            39.254098
Panx_t_T1                         69.995122
preg_demo_cannab_12b_week          5.542733
Anger_t_M12                       82.766286
ParentBehavior_M12_01            228.082075
PRAQ_T1                           29.050361
ParentPerception_M12_01          442.134671
EPDS_T1                           30.320765
PA_T1                          38720.664699
preg_demo_tobac_before_week       10.067772
CSI_M3                            16.862393
SLPdisturb_t_T1                   59.693816
EPDS_M12                          24.015426
preg_demo_alch_before_week         2.401011
Mage                              19.584802
CHAOS_M12                          0.292380
dtype: float64

In [155]:
variances = df2[df2_numeric_columns].var(numeric_only=True)
print(variances)

Panx_t_M12                         66.165238
ASQgm_01                          248.727542
SSEQtotal_T1                      222.853356
ASQprs_01                         106.943012
ASQcomm_24m_01                    166.766652
PreBMI                             39.254098
Anger_t_T1                         74.307537
GAbirth_calculated                  2.752043
ASQprs_24m_01                      95.001228
Panx_t_T1                          69.995122
preg_demo_cannab_12b_week           5.542733
m24_screentime1_01                  2.014322
Anger_t_M12                        82.766286
TotalBISQ_M12_01                  228.341162
ParentBehavior_M12_01             228.082075
PRAQ_T1                            29.050361
ParentPerception_M12_01           442.134671
EPDS_T1                            30.320765
m24_current_weight_01              13.269659
PA_T1                           38720.664699
ASQgm_24m_01                       82.646023
ASQSE_24m_01                      489.367867
ASQcomm_01                        127.356866
Tot_cry_01                          8.362903
preg_demo_tobac_before_week        10.067772
ASQSE_12m_01                      328.893155
CSI_M3                             16.862393
M24_ECBQ_Neg_01                     0.373701
ASQps_24m_01                       80.858703
ASQps_01                          136.004299
ASQfm_01                           58.693423
birth_weight_01                286023.906724
SLPdisturb_t_T1                    59.693816
EPDS_M12                           24.015426
preg_demo_alch_before_week          2.401011
m24_bisq_16_01                     18.696179
MCHAT_M24_01                        1.316823
Mage                               19.584802
CHAOS_M12                           0.292380
ASQfm_24m_01                       57.784158
dtype: float64